.project-name-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

/*  color: white;*/
  font-size: 20pt;
  font-weight: bold;
}


.project-block {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 60%;

  font-size: 11pt;

  border-top: 1px solid #253f3f;
  margin-top: 10px;
}

.project-intro-block {
  font-size: 11pt;
  
  border-bottom: 1px solid #253f3f;
  margin-bottom: 10px;
}

.return-button-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.return-button {
  font-size: 11pt;
  color: #253f3f;
}

.project-intro-title {
  color: #4477ff;
}

.project-intro-year {
  color: #3ab43a;
}

.project-intro-status {
  color: #ff33cc;
}

.project-intro-tools {
  color: #ddaa44;
}

.project-intro-short {
  color: darkslateblue;
}

.project-intro-long {
  color: #253f3f;
}

.project-images {
  text-align: center;
}

a.project-intro-link {
  color: #ff2222;
}