.research-subtitle {
  	text-align: center;
    margin-left: auto;
    margin-right: auto;

  /*  color: white;*/
  }

  a.learn-more {
    float: right;
    text-decoration: none;
    color: #4477ff;
  }

  button.learn-more {
    float: right;
    text-decoration: none;
    color: #4477ff;
    font-size: 10pt;
    padding: 0;
  }

  .research-container {
    justify-content: center;
    flex-direction: row;
    display: flex;
  }

  .research-subcontainer {
    border-left: 1px solid grey;
    justify-content: center;
    flex-direction: row;
    display: flex;
    transition: background-color .2s ease-in-out;
  }

  .research-subcontainer:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }

  .research-entry {
    padding-left: 10px;
    width: 650px;
    height: 10%;
  }

  .research-entry-title {
  	font-size: 14pt;
	  color: #4477ff;
  }

  .research-entry-tools {
  	font-size: 10pt;
	 /* color: white;*/
  }

  .research-entry-desc {
  	font-size: 10pt;
	  color: #253f3f;
  }

  .small-space {
  	height: 5px;
  }

  .big-space {
  	height: 10px;
  }

  .break-space {
  	height: 25px;
  }
